body {
  display: flex;
  background-color: green;
  height: 100vh;
  margin: 0;
}

.background {
  background-image: url("assets/mohamed-alaau-X-yWQsRSmnI-unsplash.jpg");
  background-color: black;
  background-size: cover;
  flex: auto;
}

.banner {
  background-color: black;
  background-image: url("assets/kisspng-logo-royalty-free-falcon-5ad685e92ca4c4.9973054715240084251829.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  height: 15%;
  margin-top: 40%;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: grey;
  flex: 2;
}

.explanation {
  flex: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding: 10px;
}

.explanation > p {
  flex: auto;
}

.form-container {
  flex: 2;
  background-color: white;
  display: flex;
}

.form-container > form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

label {
  display: flex;
  flex-direction: column;
  margin: 50px;
  font-size: 22px;
}

input {
  border-radius: 8px;
  height: 30px;
  width: 200px;
}

input:focus {
  border-color: darkcyan;
}

.button-container {
  flex: auto;
  background-color: white;
}

.create_account {
  border-radius: 12px;
  font-size: 28px;
  background-color: darkcyan;
  border: none;
  padding: 15px;
  margin: 40px;
  width: 20%;
  margin-bottom: 20px;
}

.create_account:hover {
  background-color: purple;
}

.log_in {
  margin: 10px 50px;
  font-size: 22px;
}

.log_in > a,
.log_in > a:visited {
  color: darkcyan;
  text-decoration: none;
}

.log_in > a:hover {
  color: purple;
  text-decoration: none;
}
