body {
  font-family: Arial;
  background-color: darkcyan;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 50px;
}

.board-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

button {
  border: 0;
  padding: 60px;
  margin: 1px;
}

.circle {
  background-color: red;
}

.cross {
  background-color: blue;
}

.banner {
  background-color: rgb(144, 0, 255);
  color: white;
  padding: 10px 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 12px;
}

.restart {
  border-radius: 100%;
  background-color: yellow;
}
